### Emacs
\#*#
\.#*
*~

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
*Notes.bib
main.pdf
main.tar.gz
data/*.pdf
data/*.png

### other files produced during compilation
authors.tex
contributions.tex

### cookiecutter files
lsst_sn_cadence.pdf
lsst_sn_cadence.tar.gz
